<%- include('partials/header.ejs') %>

<h1> Contact </h1>
<p> <%= contactPara %>  <a href="mailto:viragsavaliya729@gmail.com" target="_blank"> here. </a> </p>

<%- include('partials/footer.ejs') %>
